<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.product.dao.ProductManagerMapper">
	
	<!-- 添加商品 -->
	<insert id="insertProduct_1" parameterType="com.manager.product.po.Product">
		INSERT INTO t_yc_product (
			product_id,
			product_name,
			source,
			product_img_main,
			product_img_assist,
			product_describe,
			kind_id,
			remark,
			verson,
			valid,
			create_time,
			update_time)
		VALUES
			(#{productId},#{productName},#{source},#{productImgMain},#{productImgAssist},
			 #{productDescribe},#{kindId},#{remark},1,1,sysdate(),sysdate())		
	</insert>
	<insert id="insertProduct_2" parameterType="com.manager.product.po.Property">
		INSERT INTO t_yc_property (
			product_id,
			property_id,
			property,
			model,
			price_old,
			surplus,
			total,
			unit		
		)
		VALUES
			(#{productId},#{propertyId},#{property},#{model},#{priceOld},#{total},#{total},#{unit})		
	</insert>
	
	<!-- 商品列表-分页 -->
	<select id="selectProductInfo_paging" parameterType="Map" resultType="Map">
		SELECT c.*,k.kind_name,t.discount_price,t.discount_rate,t.price_new,p.price_old,p.model,p.property,p.surplus,p.total,p.unit 
		FROM t_yc_product c
		LEFT JOIN t_yc_property p ON p.product_id=c.product_id
		LEFT JOIN t_yc_discount t ON t.product_id=c.product_id
		LEFT JOIN t_yc_kind k on k.kind_id=c.kind_id
		<where> c.valid=1
			<if test="null != productName and '' != productName">
				and c.product_name=#{productName}
			</if>
		</where>		
	</select>

</mapper>